/* /* .App {
  text-align: center;
} */

@media (max-width: 960px) {
  html {
    font-size: 90%;
  }
  .container__grid {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
  }
}

@media (max-width: 500px) {
  .container__grid {
    justify-content: space-between;
    align-items: center;
  }
}

.container__grid {
  margin: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.section-todo-list {
  padding: 2rem;
}
